<article class="col-sm-6 col-lg-4 mb-4 clearfix" data-wow-duration="500ms">
    <div class="card post-block border-glow-2">
        <div class="card-img">
            <img class="img-fluid" src="{{ .Params.image | absURL }}" alt="{{ .Params.image_alt }}">
        </div>
        
        {{ partial "get_tags.html" . }}

        <div class="content pt-0">
            <small>{{ .Params.Date | time.Format "2006-01-02" }}</small>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{ .Plain | htmlUnescape | truncate 256 }}</p>
            <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
        </div>
    </div>
</article>
