<article class="col-sm-6 col-lg-4 mb-4 clearfix" data-wow-duration="500ms">
    <div class="card post-block border-glow-2">
        <div class="card-img">
            <img class="img-fluid" src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
        </div>
        
        {{ partial "get_tags.html" . }}

        <div class="content">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{ .Summary }}</p>
            <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
        </div>
    </div>
</article>
