{{ if site.Params.breadcrumbs }}
{{"<!-- Breadcrumb Section -->" | safeHTML}}
<div class="breadcrumb-wrap">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {{- range .Ancestors.Reverse }}
                <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }}</a></li>
                {{- end }}
<li class="breadcrumb-item breadcrumb-current"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            </ol>
        </nav>
    </div>
</div>
{{"<!-- /Breadcrumb Section -->" | safeHTML}}
{{ end }}