{{ $data := index site.Data.contact }}

{{ if $data.contact.enable }}
{{ with $data.contact}}
{{"<!-- /Contact Section -->" | safeHTML}}
<section id="contact" class="section bg-two">
    <div class="container pb-5">
        {{"<!-- Title -->" | safeHTML}}
        <div class="col-lg-12">
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
                        {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
                <div class="border-biotech"></div>
            </div>
        </div>
        {{"<!-- /Title -->" | safeHTML}}
        {{ with .contact_form }}
        {{ if .h_captcha.enable }}
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        {{ end }}
        <form name="contact" method="post" action="{{ .action }}" data-netlify="{{ .netlify }}">
            <h3 class="text-center">{{ .content }}</h3>
            <div class="row">
                <div class="d-flex flex-column col-md-4 {{/*  justify-content-between  */}}">
                    <input name="bot-field" class="form-crontrol hidden" />
                    <input id="contact-form-name" type="text" name="Name" class="form-control" placeholder="{{ .name }}" value="" required="true" autocomplete="off" />
                    <input id="contact-form-email" type="email" name="Email" class="form-control" placeholder="{{ .email }}" value="" required="true" autocomplete="off" />
                    {{/*  <input id="contact-form-subject" type="text" name="Subject" class="form-control" placeholder="{{ .subject }}" value="" required="true" autocomplete="off"/>  */}}
                </div>
                <div class="d-flex flex-column col-md-8">
                    <textarea id="contact-form-message" class="form-control" placeholder="{{ .message }}" required="true" rows="6"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    {{ if .h_captcha.enable }}
                    <div class="col">
                        <div class="h-captcha" data-theme="{{ .h_captcha.theme }}" data-sitekey="{{ .h_captcha.sitekey }}"></div>
                    </div>
                    {{ end }}
                    <div class="col">
                        <input id="form-submit" type="submit" name="Submit" class="btn btn-light" value="Submit" />
                    </div>
                </div>    
            </div>
        </form>
        {{ end }} 
    </div>
</section>
{{"<!-- /Contact Section -->" | safeHTML}}
{{ end }}
{{ end }}