{{ $data := index site.Data.contact }}

{{ if $data.contact.enable }}
{{ with $data.contact}}
{{"<!-- /Contact Section -->" | safeHTML}}
<section id="contact" class="section bg-two">
    <div class="container pb-5">
        {{"<!-- Title -->" | safeHTML}}
        <div class="col-lg-12">
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
                        {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
                <div class="border-biotech"></div>
            </div>
        </div>
        {{"<!-- /Title -->" | safeHTML}}
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        <form name="contact" method="post" action="/thank-you/" method="POST" data-netlify="true">
            <input type="hidden" name="form-name" value="contact" />
            <h3 class="text-center">Drop Me a Message</h3>
            <div class="row">
                <div class="d-flex flex-column col-md-4 justify-content-between">
                    <input id="contact-form-name" type="text" name="Name" class="form-control" placeholder="Your Name *" value="" required="true" autocomplete="off" />
                    <input id="contact-form-email" type="email" name="Email" class="form-control" placeholder="Your Email *" value="" required="true" autocomplete="off" />
                    <input id="contact-form-subject" type="text" name="Subject" class="form-control" placeholder="Subject *" value="" required="true" autocomplete="off"/>
                </div>
                <div class="d-flex flex-column col-md-8">
                    <textarea id="contact-form-message" class="form-control" placeholder="What's up?" required="true" rows="6"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="col">
                        <div class="h-captcha" data-theme="dark" data-sitekey="7e9fcbed-3001-42cb-a416-0966c3d9123f"></div>
                    </div>
                    <div class="col">
                        <input id="form-submit" type="submit" name="Submit" class="btn btn-light" value="Submit" />
                    </div>
                </div>    
            </div>
        </form>
    </div>
</section>
{{"<!-- /Contact Section -->" | safeHTML}}
{{ end }}
{{ end }}