{{ "<!-- Footer -->" | safeHTML }}
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
            <div class="col-xl-12">
                
                <div class="row">
                    {{ "<!-- Social Links -->" | safeHTML }}
                    <div class="social-icon col text-center">
                        <h2> Social Media</h2>
                        <ul class="list-inline">
                            {{ range site.Params.social }}
                            <li class="list-inline-item">
                                <a href="{{ .link | safeHTML }}">
                                    <i class="{{ .icon }}">
                                    {{ if .img }}
                                        <img class="social-icon social-icon-img" src="{{ .img }}">
                                    {{ end }}
                                    </i>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>

                    {{ if  site.Params.sketchfab.enable }}
                    {{ "<!-- Social Sketchfab Link -->" | safeHTML }}
                    <div class="social-icon text-center col">
                        <h2>{{ site.Params.sketchfab.text | markdownify }}</h2>
                        <a href="{{ site.Params.sketchfab.link | safeHTML }}">
                            <img class="social-icon-img" src="{{ site.Params.sketchfab.img | absURL }}"> 
                        </a>
                        </div>
                    {{ end }}
                </div>
                
                <div class="border-biotech" style="background: #0f1e31;"></div>
                
                {{ "<!-- Copyright -->" | safeHTML }}
                <div class="copyright text-center">
                    <a href="{{ site.Home.Permalink }}">
                        <img src="{{ site.Params.logo | absURL }}" height="128">
                    </a>
                    <br>
                    <p>{{ site.Params.copyright | markdownify }}</p>
                </div>

            </div>
        </div>
    </div>
</footer>
{{ "<!-- /Footer -->" | safeHTML }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js }}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ if site.Params.map.enable }}
{{ "<!-- Google Map API -->" | safeHTML }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- Main Script --> " | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify | fingerprint "sha384" }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

{{ if site.Params.cookies.enable }}
{{ "<!-- Cookie Box -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-transparent">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>
{{ "<!-- /Cookie Box -->" | safeHTML }}
{{ end }}