{{ "<!-- Footer -->" | safeHTML }}
<footer id="footer" class="section-bg">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
            <div class="col-xl-12">
                
                {{ "<!-- Social Links -->" | safeHTML }}
                <div class="social-icon">
                    <ul class="list-inline">
                        {{ range site.Params.social }}
                        <li class="list-inline-item">
                            <a href="{{ .link | safeHTML }}">
                                <i class="{{ .icon }}">
                                {{ if .img }}
                                    <img class="social-icon social-icon-img" src="{{ .img }}">
                                {{ end }}
                                </i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                
                {{ if  site.Params.sketchfab.enable }}
                {{ "<!-- Social Sketchfab Links -->" | safeHTML }}
                <div class="text-center">
                    <h2>{{ site.Params.sketchfab.text | markdownify }}</h2>
                    <a href="{{ site.Params.sketchfab.link | safeHTML }}">
                        <img class="social-icon-img" src="{{ site.Params.sketchfab.img }}"> 
                    </a>
                    </div>
                {{ end }}

                {{ "<!-- Copyright -->" | safeHTML }}
                <div class="copyright text-center">
                    <a href="{{ site.Home.Permalink }}">
                        <img src="{{ site.Params.logo | safeURL }}">
                    </a>
                    <br>
                    <p>{{ site.Params.copyright | markdownify }}</p>
                </div>

            </div>
        </div>
    </div>
</footer>
{{ "<!-- /Footer -->" | safeHTML }}

{{ "<!-- Main Script --> " | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify | fingerprint "sha384" }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js }}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ if site.Params.map.enable }}
{{ "<!-- Google Map API -->" | safeHTML }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}
